<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation" thread-count="5" parallel="tests">
	<listeners>
		<listener class-name="com.qa.utility.Reporting"></listener>
	</listeners>
	<test thread-count="5" name="Amazon" parallel="none">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="url" value="https://www.amazon.in/"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_AmazonCreateAccountAndSignIn_001" />
			<class name="com.qa.testscripts.TC_AmazonAddTOCart_001" />
			<class name="com.qa.testscripts.TC_AmazonPlaceOrder_001" />
		    <class name="com.qa.testscripts.TC_AmazonCancelOrder_001" />
			<class name="com.qa.testscripts.TC_WriteOrderMessagesDetailsOnExcel_001" />
			<class name="com.qa.testscripts.TC_AmazonMobileRecharge_001" />
			<class name="com.qa.testscripts.TC_AmazonTodaysDeal_001" />
			<class name="com.qa.testscripts.TC_AmazonFilterCategoryWise_001" />
			<class name="com.qa.testscripts.TC_AmazonAddGiftCardAndRemoveProductsFromCart_001" />
		</classes>
	</test> <!-- TestNG -->
</suite> <!-- Suite -->
